.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
nbproject/
*.properties
/nbproject/private/private.properties
*.sqlite
/html/talk/
/html/lang/
*.png
*.jpg
*.jpeg
*.gif
/html/upload/
/html/img/
